<p>
    IssPay is a chatbot allow ISS student to buy some snacks and drinks.
    We're so glad you registered for this tool.

    <span style="font-weight: bold;"> Here's your temporarily password <%= @password %> </span>
    Please do not share this information publicly.
</p>