<h5>
    Hello <%= @user.first_name %>, Welcome to use IssPay.
</h5>
<p>
    IssPay is a chatbot allow ISS student to buy some snacks and drinks.
    Please click https://www.facebook.com/isspay/ to activate your account.
</p>